* {
  /* Border radius */
  --border-radius: 1.2em;
  --border-radius-sm: 0.5em;

  /* Colors */
  --color-bg-light: #f1f1f1;
  --color-bg-dark: #000000;
  --color-bg-disabled: #dadada;
  --color-red: #f23940;
  --color-green: #9fe026;
  --color-yellow: #ffdc5b;
  --color-purple: #cfb0f9;

  --terminal-info: #00d9ff;
  --terminal-success: #42b883;
  --terminal-error: #ff5555;
}

html {
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

label {
  display: block;
  margin: 0 0 4px 2px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  font-size: 1rem;
  padding: 0 8px;
  height: 36px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: var(--border-radius-sm);
}

input[type="text"] ~ label {
  margin-top: 20px;
}

video {
  width: 100%;
}

.app {
  display: flex;
  height: 100vh;

  &.homepage {
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-light);
  }
}
