/* Reusable Components */

/* Buttons */
.button {
  padding: 0 16px;
  height: 36px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    background-color: var(--color-bg-disabled) !important;
    opacity: 1;
  }
}

.button.button-danger {
  background-color: var(--color-red);
}

.button-sm {
  padding: 0 8px;
  height: 26px;
  font-size: 0.7rem;
  font-weight: normal;

  & svg {
    width: 20px;
    height: 20px;
  }
}

.button-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover .icon {
    opacity: 0.8;
  }

  &:disabled .icon {
    background-color: var(--color-bg-disabled) !important;
    opacity: 1;
  }

  & .icon {
    background: #000;
    padding: 10px;
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: visible;
    color: #fff;
  }

  & .text {
    font-size: 0.7rem;
  }
}

/* Ensure hidden attribute works with button-icon (flex issues) */
.button-icon[hidden] {
  display: none !important;
}

.button-icon.button-danger {
  & .icon {
    background: var(--color-red);
  }
}

.button-icon.button-success {
  & .icon {
    background: var(--color-green);
  }
}

/* Badges */
.badge {
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
  padding: 4px 8px;
  font-size: 0.8rem;
  font-weight: normal;
  border-radius: var(--border-radius-sm);
  background-color: #9f9f9f4d;
  color: #9f9f9f;
}

.badge-success {
  color: var(--color-green);
  background-color: color-mix(in srgb, var(--color-green) 30%, transparent);
}

.badge-warning {
  color: var(--color-yellow);
  background-color: color-mix(in srgb, var(--color-yellow) 30%, transparent);
}

/* Sidebar  */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 300px;
  height: 100vh;
  border-right: 1px solid #fff;
  display: flex;
  font-family: monospace, "Lucida Console", "Courier New", Consolas;
  transform: translateX(0);
  transition: transform 0.3s ease;
  background: var(--color-bg-dark);
  color: #fff;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}
.sidebar-content {
  position: relative;
  width: 100%;
}

.sidebar-toggle-btn {
  position: absolute;
  top: 50px;
  left: 100%;
  z-index: 1001;
  background-color: var(--color-purple);
  border: none;
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  padding: 8px;
  font-size: 1.3rem;
  transition: left 0.3s ease;
  line-height: 0;
}

/* Desktop styles (1024px and up) */
@media (min-width: 1024px) {
  .sidebar-toggle-btn {
    display: none;
  }
}
