/* Reusable Components */

/* Buttons */
.button {
  padding: var(--spacing-md) 16px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:disabled {
    background-color: var(--color-disabled-bg) !important;
    color: var(--color-disabled-text) !important;
    opacity: 1;
  }
}

.button.button-danger {
  background-color: #dd3d3d;
}

.button-sm {
  padding: 5px 8px;
  font-size: 0.6rem;
  font-weight: normal;
}

.button-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;

  & .icon {
    aspect-ratio: 1;
    font-size: 1.2rem;
    background: #cdcbcb;
    padding: 10px;
    border-radius: 50%;
  }
}

/* Ensure hidden attribute works with button-icon */
.button-icon[hidden] {
  display: none !important;
}

.button-icon.button-danger {
  & .icon {
    background: #dd3d3d;
  }
}

.button-icon.button-success {
  & .icon {
    background: #52ce67;
  }
}

/* Badges */
.badge {
  display: block;
  width: max-content;
  padding: 3px 8px;
  font-size: 0.8rem;
  font-weight: normal;
  border-radius: var(--border-radius-sm);
}

.badge-success {
  background-color: var(--color-success-dark);
  color: var(--color-secondary);
}

.badge-warning {
  background-color: var(--color-warning-dark);
  color: var(--color-secondary);
}
