/* Reusable Classes & Components */

/* Typography */
.text-success {
  color: #0cd901;
}

.text-danger {
  color: rgb(255, 0, 0);
}

.text-info {
  color: rgb(0, 191, 255);
}

/* Buttons */
.button {
  padding: 0 16px;
  height: 36px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    background-color: var(--color-disabled-bg) !important;
    color: var(--color-disabled-text) !important;
    opacity: 1;
  }
}

.button.button-danger {
  background-color: red;
}

.button-sm {
  padding: 0 8px;
  height: 26px;
  font-size: 0.7rem;
  font-weight: normal;
}

.button-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  cursor: pointer;

  & .icon {
    aspect-ratio: 1;
    font-size: 1.2rem;
    background: #cdcbcb;
    padding: 10px;
    border-radius: 50%;
  }

  & .text {
    font-size: 0.7rem;
  }
}

/* Ensure hidden attribute works with button-icon (flex issues) */
.button-icon[hidden] {
  display: none !important;
}

.button-icon.button-danger {
  & .icon {
    background: red;
  }
}

.button-icon.button-success {
  & .icon {
    background: #0cd901;
  }
}

/* Badges */
.badge {
  display: block;
  width: max-content;
  padding: 3px 8px;
  font-size: 0.8rem;
  font-weight: normal;
  color: #fff;
  border-radius: var(--border-radius-sm);
}

.badge-success {
  background-color: var(--color-success-dark);
}

.badge-warning {
  background-color: var(--color-warning-dark);
}

/* Sidebar  */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 300px;
  height: 100vh;
  border-right: 1px solid #fff;
  display: flex;
  font-family: monospace, "Lucida Console", "Courier New", Consolas;
  transform: translateX(0);
  transition: transform 0.3s ease;
  background: #000;
  color: #fff;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}
.sidebar-content {
  position: relative;
  width: 100%;
}

.sidebar-toggle-btn {
  position: absolute;
  top: 50px;
  left: 100%;
  z-index: 1001;
  background-color: white;
  border: none;
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  padding: 8px;
  font-size: 1.3rem;
  line-height: 1;
  transition: left 0.3s ease;
}

/* Desktop styles (1024px and up) */
@media (min-width: 1024px) {
  .sidebar-toggle-btn {
    display: none;
  }
}
