/* Homepage Styles */
.join-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  align-items: center;
  text-align: center;
  padding: var(--spacing-lg);

  & h1 {
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
  }

  & .intro-text {
    font-size: 0.8rem;
    text-wrap: pretty;
    color: var(--color-text-muted);
    line-height: 1.5;
    max-width: 300px;
    margin: auto;
  }

  & .join-form {
    margin: 1rem auto;
    width: 250px;
    text-align: left;
  }

  & button {
    display: block;
    width: 100%;
    margin: var(--spacing-lg) auto;
  }
}

/* Laptop and bigger - side-by-side layout */
@media (min-width: 1024px) {
  .join-container {
    flex-direction: row;
    width: 800px;
    max-width: 100%;
    gap: 4rem;
    align-items: flex-start;
    text-align: left;

    & .header {
      flex: 1;
    }

    & h1 {
      font-size: 3.5rem;
    }

    & .intro-text {
      font-size: 1rem;
      margin: 0;
      max-width: none;
    }
  }
}
