/* Room/Video Call Styles */

.system-messages {
  padding: 25px;
  flex-grow: 1;
  overflow: auto;
  font-size: 0.7rem;
}

.leave-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

.status-info {
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  flex-grow: 1;
  overflow: hidden;
  min-height: 0;
  position: relative;
}

/* Video Section */
.videos-container {
  position: relative;
}

.local-video {
  width: 20%;
  max-width: 150px;
  aspect-ratio: 1 / 1.2;
  border: 1px solid #fff;
  border-radius: var(--border-radius);
  background: var(--color-video-bg);
  position: absolute;
  top: 10px;
  right: 10px;
}

.remote-video {
  width: 100%;
  height: 50vh;
  background: var(--color-video-bg);
}

.video-controls {
  margin: 8px auto;
  display: flex;
  gap: 10px;
  justify-content: center;

  & > * {
    width: 70px;
  }
}

/* Chat Section */
.chat-section {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 0;
  background-color: var(--color-background);
}

.chat-messages {
  overflow-y: auto;
  flex-grow: 1;
  min-height: 0;
  max-height: 100%;
  padding-right: 5px; /* Space for scrollbar */

  & p {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.message-form {
  display: flex;
  gap: 5px;
  flex-shrink: 0;
}

/* Desktop styles (1024px and up) */
@media (min-width: 1024px) {
  .main-content {
    margin-left: 300px;
    transition: padding-left 0.3s ease;
  }

  .content-layout {
    padding: 20px;
    flex-direction: row;
    gap: 20px;
  }

  .chat-section {
    width: 300px;
    flex-grow: 0;
    border-radius: var(--border-radius);
  }

  .video-section {
    flex-grow: 1;
  }

  .leave-button {
    top: 40px;
    left: 40px;
  }

  .local-video {
    top: 20px;
    right: 20px;
  }

  .remote-video {
    aspect-ratio: 4/3;
    height: auto;
    max-height: 80vh;
    border-radius: var(--border-radius);
  }

  .status-info {
    bottom: 18px;
    left: 15px;
    right: 15px;
  }
}
