/* CSS Custom Properties / Variables */
* {
  /* Border radius */
  --border-radius: 1.2em;
  --border-radius-sm: 0.5em;

  /* Colors */
  --color-background: #f1f1f1;
  --color-success: #adbbbb;
  --color-success-dark: #364a44;
  --color-warning: #e4b975;
  --color-warning-dark: #63421c;
  --color-video-bg: #000000;
  --color-text-muted: rgba(0, 0, 0, 0.6);
  --color-disabled-bg: #eee;
  --color-disabled-text: gray;

  --terminal-info: #00d9ff;
  --terminal-success: #42b883;
  --terminal-error: #ff5555;
}
