* {
  --border-radius: 1.5em;
  --border-radius-sm: 0.5em;

  --color-base: #f8f8f1;
  --color-base-dark: #f1efe4;
  --color-base-light: #ffffff;

  --color-text: #222222;

  --color-green: #c7d0bd;
  --color-green-dark: #8da776;
}

html {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  color: black;
}

label {
  display: block;
  margin: 0 0 4px 2px;
  font-weight: bold;
  font-size: 0.8rem;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: var(--border-radius-sm);
}

input[type="text"] ~ label {
  margin-top: 20px;
}

button {
  padding: 10px 16px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);

  &:hover {
    opacity: 0.8;
  }
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.join-container {
  width: 100%;
  max-width: 350px;
  padding: 20px 40px;
  border: 1px solid black;
  border-radius: 2em;
  background-color: white;
  position: relative;

  & .icon {
    position: absolute;
    width: 80px;
    aspect-ratio: 1;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e4ddce;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }

  & h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  & h2 {
    text-align: center;
    font-weight: 400;
    font-size: medium;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
  }

  & button {
    display: block;
    margin: 20px auto;
  }

  & small {
    display: block;
    margin: 6px 0 0 6px;
    opacity: 0.6;
    font-style: italic;
  }
}
